<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
        <div class="navbar-header">
            {{#loginUser}}
            <a class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown" href="#"
               style="margin-left:15px;"><i class="glyphicon glyphicon-home" style="color:#dd1111;"></i> Home <small><i
                    class="glyphicon glyphicon-chevron-down"></i></small></a>
            <ul class="nav dropdown-menu">
                <li><a href="/users/{{loginUser.id}}"><i class="glyphicon glyphicon-user" style="color:#1111dd;"></i> Profile</a>
                </li>
                <li class="nav-divider"></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog" style="color:#dd1111;"></i> Settings</a></li>
            </ul>
            {{/loginUser}}

            <button class="navbar-toggle" data-target="#navbar-collapse2" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
                <li class="sub-nav-li"><a href="/">Posts</a></li>
                {{^loginUser}}
                <li class="sub-nav-li"><a href="/users/loginForm" role="button">로그인</a></li>
                <li class="sub-nav-li"><a href="/users/form" role="button">회원가입</a></li>
                {{/loginUser}}

                {{#loginUser}}
                <li class="sub-nav-li"><a href="/users/logout" role="button">로그아웃</a></li>
                <li class="sub-nav-li"><a href="/users//modify" role="button">개인정보수정</a></li>
                {{/loginUser}}
            </ul>
        </div>
    </div>
</div>