{{#partial "content"}}
<div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
    <div class="panel panel-default qna-list">
        <ul class="list">
            {{#questions}}
            <li>
                <div class="wrap">
                    <div class="main">
                        <strong class="subject">
                            <a href="/questions/{{id}}">{{title}}</a>
                        </strong>
                        <div class="auth-info">
                            <i class="icon-add-comment"></i>
                            <span class="time">{{createdDate}}</span>
                            <a href="/users/{{writer}}" class="author">{{writer}}</a>
                        </div>
                        <div class="reply" title="댓글">
                            <i class="icon-reply"></i>
                            <span class="point">8</span>
                        </div>
                    </div>
                </div>
            </li>
            {{/questions}}
        </ul>
        <div class="row">
            <div class="col-md-3"></div>
            {{> component/paginator}}
            <div class="col-md-3 qna-write">
                <a href="/questions/form" class="btn btn-primary pull-right" role="button">질문하기</a>
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
