{{#partial "content"}}
<div class="container" id="main">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default content-main">
      <form name="question" method="post" action="/users">
        <div class="form-group">
          <label for="userId">사용자 아이디</label>
          <input type="text" minlength="5" maxlength="10" class="form-control" id="userId" name="userId" placeholder="User ID" required>
        </div>
        <div class="form-group">
          <label for="password">비밀번호</label>
          <input type="password" minlength="8" maxlength="20" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
          <label for="name">이름</label>
          <input class="form-control" minlength="2" maxlength="6" id="name" name="name" placeholder="Name" required>
        </div>
        <div class="form-group">
          <label for="email">이메일</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>
        <button type="submit" class="btn btn-success clearfix pull-right">회원가입</button>
        <div class="clearfix" />
      </form>
    </div>
  </div>
</div>
{{/partial}}

{{> base}}