{{#partial "content" }}

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <p>유저 정보가 제대로 입력되지 않았습니다..!</p>
        </div>
        <div class="panel panel-default content-main">
            <p>다시 회원가입 도전??👀</p>
            <li><a href="/users/form" role="button">회원가입</a></li>
        </div>
        <div class="panel panel-default content-main">
            <p>다시 정보 업데이트 도전??👀</p>
            <li><a href="/users" role="button">회원 목록 페이지</a></li>
        </div>
    </div>
</div>

{{/partial}}
{{> base}}

