{{#partial "content"}}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default content-main">
        <form action="/users/{{loginUser.id}}" method="post" name="question">
            <div class="form-group">
                <label for="userId">사용자 아이디</label>
                <input class="form-control" id="userId" disabled name="userId" placeholder="User ID"
                       value="{{loginUser.userId}}">
            </div>
            <div class="form-group">
                <label for="prevPassword">이전 비밀번호</label>
                <input type="password" class="form-control" id="prevPassword" name="prevPassword"
                       placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password">새로운 비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="name">이름</label>
                <input class="form-control" id="name" name="name" placeholder="Name" value="{{loginUser.name}}">
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                       value="{{loginUser.email}}">
            </div>
            <button type="submit" class="btn btn-success clearfix pull-right">수정하기</button>
            <div class="clearfix"/>
            <input name="_method" type="hidden" value="PUT"/>
        </form>
    </div>
</div>
{{/partial}}
{{> base}}
