<!DOCTYPE html>
<html lang="kr">
{{> partial/header}}
<body>
{{> partial/navbar}}

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <form class="form-update" action="/users/update/{{id}}" method="post">
                <input type="hidden" name="_method" value="put" />
                <div class="form-group">
                    <label>{{userId}} 회원 정보 수정</label>
                </div>
                <div class="form-group">
                    <label for="password">새로운 비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="name">새로운 이름</label>
                    <input class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email">새로운 이메일</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <button type="button" class="btn btn-success clearfix pull-right" onclick="checkInput()">개인정보수정</button>
                <div class="clearfix"/>
            </form>
        </div>
    </div>
</div>

<!-- script references -->
{{> partial/script}}
</body>
</html>
