<!DOCTYPE html>
<html lang="kr">
<head>
{{> include/header}}
</head>
<body>
{{> include/navigation}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default content-main">

            <h1 class="error-text">404 Page Not Found </h1>
            <h4>잘못된 경로로 접근하셨습니다</h4>
            <div style="display: flex;">
                <span style="flex: 1;"></span>
                <a href="/">홈페이지로 이동하기</a>
        </div>
    </div>
</div>

<!-- script references -->
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
