{{#partial "content" }}
<div id="main">
    <!-- https://goddaehee.tistory.com/214 참고 -->

    <br>
    <h1 style="text-align: center">⛔ 405 : 허용되지 않는 방법</h1>
    <h3 style="text-align: center">Hint: 요청에 지정된 방법을 사용할 수 없다.</h3>
    <h3 style="text-align: center">Hint: 예를 들어 POST 방식으로 요청을 받는 서버에 GET 요청을 보내는 경우, 또는 읽기 전용 리소스에 PUT 요청을 보내는 경우에 이 코드를 제공한다.</h3>
    <br>
    <br>
    <div style="text-align: center">
        <img src="https://i.imgur.com/F2G9idn.png" width="150" height="150"/>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-light btn-lg" onclick="goBack()">뒤로가기</button>
    </div>
    <script>
        function goBack(){
            window.history.back(-1);
        }

    </script>
</div>
{{/partial}}
{{> common/base}}
