<!DOCTYPE html>
<html lang="kr">
<head>
    {{> header}}
</head>
<body>
{{> navbarMain}}
{{> navbarSub}}
<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <h3>본인 확인을 위해 기존 비밀번호를 입력하세요.</h3>
            ※ 비밀번호가 맞지 않으면 홈으로 돌아갑니다.
            <form name="question" method="post" action="/user/{{userId}}/password-check">
                <div class="form-group">
                    <label for="userId">사용자 아이디</label>
                    <input class="form-control" id="userId" name="userId" value="{{userId}}" readonly>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-success clearfix pull-right">확인</button>
                <div class="clearfix"/>
            </form>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>
