{{#partial "content"}}
<!-- 질문게시판 -->
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            <ul class="list">
                {{#questions}}
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="questions/{{id}}">{{title}}</a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time">{{formattedCreateDateTime}}</span>
                                <a href="/users/{{writer.id}}" class="author">{{writer.userId}}</a>
                            </div>
                            <div class="reply" title="댓글">
                                <i class="icon-reply"></i>
                                <span class="point">{{countOfAnswer}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                {{/questions}}
            </ul>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination center-block" style="display:inline-block;">
                        {{#pageMaker.prev}}
                        <li><a href="#">«</a></li>
                        {{/pageMaker.prev}}

                        {{#pageMaker.numbers}}
                        <li><a href="#">{{number}}</a></li>
                        {{/pageMaker.numbers}}

                        {{#pageMaker.next}}
                        <li><a href="#">»</a></li>
                        {{/pageMaker.next}}
                    </ul>
                </div>
                <div class="col-md-3 qna-write">
                    <a href="questions/form" class="btn btn-primary pull-right" role="button">질문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/partial}}

{{> component/base}}

<script>
    var Handlebars = require('handlebars');
    var paginate = require('handlebars-paginate');

    Handlebars.registerHelper('paginate', paginate);
</script>