<!DOCTYPE html>
<html lang="kr">
{{> header}}
<body>
{{> navbar}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            <ul class="list">
                {{#page}}
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a href="/questions/{{id}}">{{title}}</a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time">{{formattedCreatedDate}}</span>
                                <a href="users/{{author.id}}" class="author">{{author.userId}}</a>
                            </div>
                            <div class="reply" title="댓글">
                                <i class="icon-reply"></i>
                                <span class="point">{{answerSize}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                {{/page}}
            </ul>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination center-block" style="display:inline-block;">
                        {{#hasPrevious}}
                        <li><a href="?page={{previous}}">«</a></li>
                        {{/hasPrevious}}
                        {{#pages}}
                        <li class="{{#active}} active {{/active}}"><a href="?page={{pageId}}">{{pageNumber}}</a></li>
                        {{/pages}}
                        {{#hasNext}}
                        <li><a href="?page={{next}}">»</a></li>
                        {{/hasNext}}
                    </ul>
                </div>
                <div class="col-md-3 qna-write">
                    <a href="/questions/form" class="btn btn-primary pull-right" role="button">질문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
</body>
</html>

