<!DOCTYPE html>
<html lang="kr">
<head>
    {{> partial/header}}
</head>
<body>
{{> partial/navbarMain}}
{{> partial/navbarSub}}


<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            {{#answers}}
            {{#question}}
            <header class="qna-header">
                <h2 class="qna-title">{{question.title}}</h2>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture" class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a href="/users/{{writer.id}}" class="article-author-name">{{writer.userId}}</a>
                            <a href="/questions/413" class="article-header-time" title="퍼머링크">
                                {{dateTime}}
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-doc">
                        <p>{{contents}}</p>
                    </div>
                </article>
                {{/question}}

                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <div class="qna-comment-slipp-articles">

                            <article class="article" id="answer-1405">
                                <div class="article-header">
                                    <div class="article-header-thumb">
                                        <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
                                    </div>
                                    <div class="article-header-text">
                                        <a href="/users/1/자바지기" class="article-author-name">{{writer.userId}}</a>
                                        <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                                            {{dateTime}}
                                        </a>
                                    </div>
                                </div>
                                <div class="article-doc comment-doc">
                                    <p>{{contents}}</p>
                                </div>
                            </article>

                            <form class="submit-write" method="post" action="/questions/{{question.id}}/answers/{{id}}/updateForm">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="form-group" style="padding:14px;">
                                    <textarea class="form-control" name="contents">{{contents}}</textarea>
                                </div>
                                <input type="submit" class="btn btn-success pull-right" value="수정완료"/>
                                <div class="clearfix" />
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/answers}}
{{> partial/footer}}
</body>
</html>
