<!DOCTYPE html>
<html lang="kr">
<head>
    {{> partial/header}}
</head>
<body>
{{> partial/navbarMain}}
{{> partial/navbarSub}}

{{#answers}}
    <div class="article-header">
        <div class="article-header-thumb">
            <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
        </div>
        <div class="article-header-text">
            <a href="/users/1/자바지기" class="article-author-name">{{writer.userId}}</a>
            <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                {{dateTime}}
            </a>
        </div>
    </div>
    <div class="article-doc comment-doc">
        <p>{{contents}}</p>
    </div>
    <div class="article-util">
        <ul class="article-util-list">
            <li>
                <form class="delete-answer-form" action="/questions/{{question.id}}/answers/updateForm" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <button type="submit" class="delete-answer-button">수정완료</button>
                </form>
            </li>
        </ul>
    </div>
{{/answers}}

{{> partial/footer}}
</body>
</html>
