<div class="panel panel-default qna-list">
    <ul class="list">
        {{#questions}}
        <li>
            <div class="wrap">
                <div class="main">
                    <strong class="subject">
                        <a href="/questions/{{id}}">{{title}}</a>
                    </strong>
                    <div class="auth-info">
                        <i class="icon-add-comment"></i>
                        <span class="time">{{date createdDateTime}}</span>
                        <a class="author" href="/users/{{writer.id}}">{{writer.name}}</a>
                    </div>
                    <div class="reply" title="댓글">
                        <i class="icon-reply"></i>
                        <span class="point">{{id}}</span>
                    </div>
                </div>
            </div>
        </li>
        {{/questions}}
    </ul>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <ul class="pagination center-block" style="display:inline-block;">
                {{#prevPage}}
                <li><a href="/questions?pageNumber={{prevPage}}">«</a></li>
                {{/prevPage}}
                {{#each pageList}}
                <li><a href="/questions?pageNumber={{this}}">{{this}}</a></li>
                {{/each}}
                {{#nextPage}}
                <li><a href="/questions?pageNumber={{nextPage}}">»</a></li>
                {{/nextPage}}
            </ul>
        </div>
        {{#loginUser}}
        <div class="col-md-3 qna-write">
            <a class="btn btn-primary pull-right" href="/questions/form" role="button">질문하기</a>
        </div>
        {{/loginUser}}
    </div>
</div>
