<!DOCTYPE html>
<html lang="kr">
<head>
{{> include/header}}
</head>
<body>
{{> include/navigation}}
<div class="container" id="main">
   <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
          <table class="table table-hover">
              <thead>
                <tr>
                    <th>#</th> <th>작성자(writer)</th> <th>제목</th> <th></th>
                </tr>
              </thead>
              <tbody>
                {{#questionList}}
                <tr>
                    <th scope="row"> </th>
                    <td>{{writer}}</td>
                    <td><a href="/qna/{{index}}"/>{{title}}</td>
                    <td>{{article}}</td>
                    <!--
                    <td><a href="/qna/{{index}}" class="btn btn-success" role="button">수정</a></td>-->

                </tr>
                {{/questionList}}

              </tbody>
          </table>
        </div>
    </div>
</div>

<!-- script references -->
<script src="/js/jquery-2.2.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
	</body>
</html>
