{{#partial "content"}}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <header class="qna-header">
                {{question.title}}
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture"
                                 class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a href="/users/{{user.id}}" class="article-author-name">{{question.writer}}</a>
                            <a href="/questions/413" class="article-header-time" title="퍼머링크">
                                {{question.postTime}}
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-doc">
                        {{question.contents}}
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list">
                            <li>
                                <a class="link-modify-article" href="/questions/{{question.id}}/form">수정</a>
                            </li>
                            <li>
                                <form class="form-delete" action="/questions/{{question.id}}/delete" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="link-delete-article" type="submit">삭제</button>
                                </form>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/index.html">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

{{/partial}}

{{> include/base}}
