{{#partial "content"}}
<div class="col-md-12 col-sm-12 col-lg-12">
    <div class="panel panel-default">
        <header class="qna-header">
            <h2 class="qna-title">{{question.title}}</h2>
        </header>
        <div class="content-main">
            <article class="article">
                <div class="article-header">
                    <div class="article-header-thumb">
                        <img alt="" class="article-author-thumb"
                             src="https://graph.facebook.com/v2.3/100000059371774/picture">
                    </div>
                    <div class="article-header-text">
                        <a class="article-author-name" href="/users/{{question.writerId}}">{{question.writerId}}</a>
                        <a class="article-header-time" href="/questions/413" title="퍼머링크">
                            {{question.reportingDate}}
                            <i class="icon-link"></i>
                        </a>
                    </div>
                </div>
                <div class="article-doc">
                    <p>{{question.contents}}</p>
                </div>
                <div class="article-util">
                    <ul class="article-util-list">
                        <li>
                            <a class="link-modify-article" href="/questions/423/form">수정</a>
                        </li>
                        <li>
                            <form action="/questions/423" class="form-delete" method="POST">
                                <input name="_method" type="hidden" value="DELETE">
                                <button class="link-delete-article" type="submit">삭제</button>
                            </form>
                        </li>
                        <li>
                            <a class="link-modify-article" href="/">목록</a>
                        </li>
                    </ul>
                </div>
            </article>

            <!--<div class="qna-comment">
                <div class="qna-comment-slipp">
                    <p class="qna-comment-count"><strong>2</strong>개의 의견</p>
                    <div class="qna-comment-slipp-articles">

                        <article class="article" id="answer-1405">
                            <div class="article-header">
                                <div class="article-header-thumb">
                                    <img alt="" class="article-author-thumb"
                                         src="https://graph.facebook.com/v2.3/1324855987/picture">
                                </div>
                                <div class="article-header-text">
                                    <a class="article-author-name" href="/users/1/자바지기">자바지기</a>
                                    <a class="article-header-time" href="#answer-1434" title="퍼머링크">
                                        2016-01-12 14:06
                                    </a>
                                </div>
                            </div>
                            <div class="article-doc comment-doc">
                                <p>이 글만으로는 원인 파악하기 힘들겠다. 소스 코드와 설정을 단순화해서 공유해 주면 같이 디버깅해줄 수도 있겠다.</p>
                            </div>
                            <div class="article-util">
                                <ul class="article-util-list">
                                    <li>
                                        <a class="link-modify-article"
                                           href="/questions/413/answers/1405/form">수정</a>
                                    </li>
                                    <li>
                                        <form action="/questions/413/answers/1405" class="delete-answer-form"
                                              method="POST">
                                            <input name="_method" type="hidden" value="DELETE">
                                            <button class="delete-answer-button" type="submit">삭제</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="article" id="answer-1406">
                            <div class="article-header">
                                <div class="article-header-thumb">
                                    <img alt="" class="article-author-thumb"
                                         src="https://graph.facebook.com/v2.3/1324855987/picture">
                                </div>
                                <div class="article-header-text">
                                    <a class="article-author-name" href="/users/1/자바지기">자바지기</a>
                                    <a class="article-header-time" href="#answer-1434" title="퍼머링크">
                                        2016-01-12 14:06
                                    </a>
                                </div>
                            </div>
                            <div class="article-doc comment-doc">
                                <p>이 글만으로는 원인 파악하기 힘들겠다. 소스 코드와 설정을 단순화해서 공유해 주면 같이 디버깅해줄 수도 있겠다.</p>
                            </div>
                            <div class="article-util">
                                <ul class="article-util-list">
                                    <li>
                                        <a class="link-modify-article"
                                           href="/questions/413/answers/1405/form">수정</a>
                                    </li>
                                    <li>
                                        <form action="/questions/413/answers/1405" class="form-delete"
                                              method="POST">
                                            <input name="_method" type="hidden" value="DELETE">
                                            <button class="delete-answer-button" type="submit">삭제</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <form class="submit-write">
                            <div class="form-group" style="padding:14px;">
                                <textarea class="form-control" placeholder="Update your status"></textarea>
                            </div>
                            <button class="btn btn-success pull-right" type="button">답변하기</button>
                            <div class="clearfix"/>
                        </form>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
{{/partial}}
{{> base}}
