{{#partial "content" }}
<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <header class="qna-header">
                {{#question}}
                <h2 class="qna-title">{{title}}</h2>
                {{/question}}
            </header>
            <div class="content-main">
                <article class="article">
                    {{#question}}
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture"
                                 class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a href="/users/92/kimmunsu" class="article-author-name">{{writer.name}}</a>
                            <a href="/questions/413" class="article-header-time" title="퍼머링크">
                                {{time}}
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-doc">
                        <p>{{contents}}</p>
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list">
                            <li>
                                <a class="link-modify-article" href="/questions/{{id}}/form">수정</a>
                            </li>
                            <li>
                                <form class="form-delete" action="/questions/{{id}}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="link-delete-article" type="submit">삭제</button>
                                </form>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/">목록</a>
                            </li>
                        </ul>
                    </div>
                    {{/question}}
                </article>

                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <p class="qna-comment-count"><strong>{{answerCount}}</strong>개의 의견</p>
                        <div class="qna-comment-slipp-articles">
                            {{#answer}}
                            <article class="article" id="answer-1406">
                                <div class="article-header">
                                    <div class="article-header-thumb">
                                        <img src="https://graph.facebook.com/v2.3/1324855987/picture"
                                             class="article-author-thumb" alt="">
                                    </div>
                                    <div class="article-header-text">
                                        <a href="/users/1/자바지기" class="article-author-name">{{replyAuthor}}</a>
                                        <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                                            {{replyTime}}
                                        </a>
                                    </div>
                                </div>
                                <div class="article-doc comment-doc">
                                    <p>{{replyContents}}</p>
                                </div>
                                <div class="article-util">
                                    <ul class="article-util-list">
                                        <li>
                                            <a class="link-modify-article" href="/questions/{{question.id}}/answers/{{answerId}}/update">수정</a>
                                        </li>
                                        <li>
                                            <form class="form-delete" action="/questions/{{question.id}}/answers/{{answerId}}"
                                                  method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="delete-answer-button">삭제</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            {{/answer}}
                                <form class="submit-write" method="post" action="/questions/{{question.id}}/answers">
                                <div class="form-group" style="padding:14px;">
                                    <textarea class="form-control" name = "replyContents" placeholder="답글을 작성해주세요."></textarea>
                                </div>
                                {{^sessionedUser}}
                                <button class="btn btn-success pull-right" type="button" disabled>🚫 로그인후 작성가능합니다.</button>
                                {{/sessionedUser}}
                                {{#sessionedUser}}
                                <button type = "submit" class="btn btn-success pull-right" >답변하기</button>
                                {{/sessionedUser}}
                                <div class="clearfix"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/partial}}
{{> common/base}}
